/.idea
/.vscode
*.sublime-project
*.sublime-workspace
.phpstorm.meta.php
_ide_helper.php

.git
.gitignore
.gitattributes
.github
.dockerignore
pnpm-lock.yaml
package-lock.json
yarn.lock

Dockerfile*
.docker
/builder
/script
test*.sh
build*.sh

/README.md
/LICENSE
/media
*.log
.DS_Store
Thumbs.db
node_modules
dist